.new-order-container{
    width: 100vw;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
}
.new-order-container .new-order-container-order-form{
    width: 600px;   
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.new-order-container .new-order-container-products{
    width: calc(100vw - 650px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}

.new-order-container .new-order-container-products-catalog{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.new-order-container .new-order-container-products-catalog .new-order-container-product{
    padding: 10px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}