/* Login Container */

.login-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-page .login-page-form{
    width:200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-tabs .ant-tabs-nav-wrap{
justify-content: center;}