.products-container{
    display: flex;
    width: calc(100vw - 40px);
    height: calc(100% - 100px);
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
}
.products-container .products-container-actions{
    display: flex;
    justify-content: space-between;
    gap: 20%;
}

.products-container .products-container-table{
    height: calc(100% - 150px);
}


.new-product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}